<a href="https://colab.research.google.com/github/dduniverse/Bigdata_Analyst_Certificate/blob/main/%5B%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%5D_DataManim_%EC%9E%91%EC%97%85_1%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ì‘ì—… 1ìœ í˜•
https://www.datamanim.com/dataset/03_dataq/typeone.html

In [ ]:
import pandas as pd

## ìœ íˆ¬ë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°
- ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv',index_col=0)
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

### Question 1
ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [ ]:
# 'channelId' ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°(ìƒìœ„ 10ê°œ)
df['channelId'].value_counts().head(10)

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: channelId, dtype: int64

In [ ]:
# ë¹ˆë„ìˆ˜ ìƒìœ„ 10ê°œ 'channelId'ì˜ index êµ¬í•˜ê¸°
df['channelId'].value_counts().head(10).index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object')

In [ ]:
# 'channelId'ê°€ ë¹ˆë„ìˆ˜ ìƒìœ„ 10ê°œì˜ indexì¸ channelTitle êµ¬í•˜ê¸°
df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle']

0                          ì¥ì‚ì­ˆ
27                         ì´ëª‡ëª…
32                         íŒŒë¿Œë¦¬
76                          ì§¤íˆ°
79                         ì´ëª‡ëª…
                 ...
60241                       ì§¤íˆ°
60242                      íŒŒë¿Œë¦¬
60271    ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„
60305          ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„
60327                      íŒŒë¿Œë¦¬
Name: channelTitle, Length: 2959, dtype: object

In [ ]:
# 'channelId'ê°€ ë¹ˆë„ìˆ˜ ìƒìœ„ 10ê°œì˜ indexì¸ channelTitleì˜ ê³ ìœ ê°’ êµ¬í•˜ê¸°
df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index)]['channelTitle'].unique()

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

### Question 2
ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [ ]:
# 'dislikes'ê°€ 'likes'ë³´ë‹¤ í° ë°ì´í„°ì˜ 'channelTitle' ì°¾ê¸°
df.loc[df['dislikes']>df['likes'],'channelTitle']

1805             í•«ë„ê·¸TV
2008             í•«ë„ê·¸TV
2233             í•«ë„ê·¸TV
2452             í•«ë„ê·¸TV
2680             í•«ë„ê·¸TV
             ...
52344    Gen.G esports
52551    Gen.G esports
52554    Gen.G esports
52772    Gen.G esports
52776    Gen.G esports
Name: channelTitle, Length: 143, dtype: object

In [ ]:
# 'dislikes'ê°€ 'likes'ë³´ë‹¤ í° ë°ì´í„°ì˜ 'channelTitle'ì˜ ê³ ìœ ê°’
df.loc[df['dislikes']>df['likes'],'channelTitle'].unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

### Question 3
ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# ['channelId','channelTitle']ì˜ ì¤‘ë³µê°’ ì œê±°
df[['channelId','channelTitle']].drop_duplicates()[['channelId','channelTitle']]

                      channelId             channelTitle
0      UChbE5OZQ6dRHECsX0tEPEZQ                      ì¥ì‚ì­ˆ
1      UCxXgIeE5hxWxHG6dz9Scg2w  RAIN's Official Channel
2      UCZUPZW5idAxYp-Asj__lVAA              ì„œìš¸ì‹œ Â· Seoul
3      UCT3CumbFIJiW33uq0UI3zlg             ê³ ê¸°ë‚¨ì MeatMan
4      UCdWgRSfttvDucq4ApcCg5Mw                    ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘
...                         ...                      ...
60023  UCsiuN8Jco3LbbuTyGuqRgKg                      ë©¸ì¹˜í˜•
60028  UCRnEWJKVc5FpC-9Z3CBt2ZQ          í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì
60035  UCkMN06eC97XL1qR1bExdwWg                    ê¸°ìš©ì´tv
60036  UCp9G3sWsE42Qo9jgnB1ta2Q       INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]
60068  UCRCK5FCJtomQT3b88jXI_DA              í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„

[1843 rows x 2 columns]

In [ ]:
# ['channelId','channelTitle']ì˜ ì¤‘ë³µê°’ì„ ì œê±°í•œ ë°ì´í„°ì˜ 'channelId'ì˜ ë¹ˆë„ìˆ˜ë¥¼ changeë¡œ ì €ì¥
change=df[['channelId','channelTitle']].drop_duplicates()['channelId'].value_counts()
change

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [ ]:
# changeì˜ ê°’ì´ 1 ì´ìƒ(=ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤)ì¸ ë°ì´í„° ì¶”ì¶œ
change[change>1]

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCk5bhZYNtbPJyNLRxN8D8NQ    2
UCSiGNrrL2lAc0-_MfcUUUHA    2
UCiBKp3KgsQCYT9Z2XxdBpbQ    2
UCUEX0L7GHPs95m8S7G6kWVA    2
UC-IYpdOqjkER7B6cnChwlhA    2
Name: channelId, Length: 71, dtype: int64

In [ ]:
len(change[change>1])

71

### Question 4
ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [ ]:
# 'trending_date2'ë¥¼ datetime í˜•ì‹ìœ¼ë¡œ ë°”ê¾¸ê¸°
df['trending_date2']=pd.to_datetime(df['trending_date2'])
df['trending_date2']

0       2021-01-01
1       2021-01-01
2       2021-01-01
3       2021-01-01
4       2021-01-01
           ...
60394   2021-10-19
60395   2021-10-19
60396   2021-10-19
60397   2021-10-19
60398   2021-10-19
Name: trending_date2, Length: 60399, dtype: datetime64[ns]

In [ ]:
# ìš”ì¼ë¡œ ë°”ê¾¸ê¸°
df['trending_date2'].dt.day_name()

0         Friday
1         Friday
2         Friday
3         Friday
4         Friday
          ...
60394    Tuesday
60395    Tuesday
60396    Tuesday
60397    Tuesday
60398    Tuesday
Name: trending_date2, Length: 60399, dtype: object

In [ ]:
# 'Sunday'ì¸ ë°ì´í„°ì˜ 'categoryId' ì¶”ì¶œ
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId']

400      24
401      22
402      10
403      24
404      24
         ..
59994    10
59995    10
59996    10
59997    19
59998    24
Name: categoryId, Length: 8600, dtype: int64

In [ ]:
# 'Sunday'ì¸ ë°ì´í„°ì˜ 'categoryId'ì˜ ë¹ˆë„ìˆ˜ ì„¸ê¸°
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts()

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

In [ ]:
# ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ëœ(ê¸°ë³¸ê°’) ë¹ˆë„ìˆ˜ì˜ ê°€ì¥ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤(=categoryId) êµ¬í•˜ê¸°
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

In [ ]:
# ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ëœ(ê¸°ë³¸ê°’) ë¹ˆë„ìˆ˜ì˜ ê°€ì¥ í° ê°’(=ì˜ìƒì¢…ë¥˜ê°œìˆ˜) êµ¬í•˜ê¸°
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().max()

3096

### Question 5
ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [ ]:
# 'trending_date2'ë¥¼ ìš”ì¼ë¡œ ë°”ê¿” 'dayname'ìœ¼ë¡œ ì €ì¥
df['dayname']=df['trending_date2'].dt.day_name()

In [ ]:
# 'dayname'ê³¼ 'categoryId'ë¡œ ê·¸ë£¹í•‘ í›„ ë°ì´í„° ê°œìˆ˜ êµ¬í•˜ê¸°
# series í˜•íƒœë¡œ ì¶œë ¥ë¨
group=df.groupby(['dayname','categoryId']).size()
group

dayname    categoryId
Friday     1             243
           2             120
           10            833
           15            187
           17            633
                        ...
Wednesday  25            468
           26            385
           27            212
           28            165
           29             12
Length: 105, dtype: int64

In [ ]:
# pivot_tableì„ ë§Œë“¤ê¸° ìœ„í•´ as_index=Falseë¥¼ í•´ì£¼ì–´ dataframe í˜•íƒœë¡œ ë§Œë“¤ê¸°
group=df.groupby(['dayname','categoryId'],as_index=False).size()
group

       dayname  categoryId  size
0       Friday           1   243
1       Friday           2   120
2       Friday          10   833
3       Friday          15   187
4       Friday          17   633
..         ...         ...   ...
100  Wednesday          25   468
101  Wednesday          26   385
102  Wednesday          27   212
103  Wednesday          28   165
104  Wednesday          29    12

[105 rows x 3 columns]

In [ ]:
# 'categoryId'ë¥¼ indexë¡œ, 'dayname'ì„ columnìœ¼ë¡œ í•˜ëŠ” pivot_table
group.pivot_table(index='categoryId',columns='dayname')

             size
dayname    Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1             243    263      255    274      246     257       234
2             120    105      119     99      128     119       129
10            833    837      776    830      890     894       917
15            187    215      198    217      207     208       207
17            633    668      592    636      682     708       706
19             90     92       87     91       92      89        85
20            283    298      296    289      282     285       291
22           1288   1373     1289   1337     1341    1375      1333
23            568    594      570    556      560     569       566
24           2976   3148     3066   3096     2954    3084      3090
25            444    453      422    437      470     452       468
26            369    378      364    363      375     394       385
27            183    205      183    199      194     194       212
28            171    160      173    167      166     161       165
29             12     10       10      9       13      11        12

### Question 6
ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [ ]:
# view_countê°€ 0ì´ ì•„ë‹Œ ë°ì´í„°ì˜ 'view_count','comment_count'ë¥¼ df_view_commentë¡œ ì €ì¥
df_view_comment=df.loc[df['view_count']!=0,['view_count','comment_count']]
df_view_comment

       view_count  comment_count
0         1893473           8595
1         2600864          20129
2          347049            178
3          528458           3470
4          494904           3142
...           ...            ...
60394      538190           3117
60395     1607562           1141
60396     1125911           1915
60397     1741773            802
60398    13753485         195461

[60386 rows x 2 columns]

In [ ]:
# df_view_comment['comment_count']/df_view_comment['view_count']ì˜ ìµœëŒ“ê°’ êµ¬í•˜ê¸°
max(df_view_comment['comment_count']/df_view_comment['view_count'])

0.16151637633416135

In [ ]:
# df_view_commentì—ì„œ df_view_comment['comment_count']/df_view_comment['view_count']ê°’ì´ ìµœëŒ“ê°’ì¸ ë°ì´í„° ì°¾ê¸° 
df_view_comment.loc[df_view_comment['comment_count']/df_view_comment['view_count']==max(df_view_comment['comment_count']/df_view_comment['view_count'])]

       view_count  comment_count
50830     1214527         196166

In [ ]:
# df_view_comment['comment_count']/df_view_comment['view_count']ì˜ ìµœëŒ“ê°’ì„ ê°€ì§€ëŠ” df_view_commetì˜ indexë¥¼ answer_indexë¡œ ì €ì¥
answer_index=df_view_comment.loc[df_view_comment['comment_count']/df_view_comment['view_count']==max(df_view_comment['comment_count']/df_view_comment['view_count'])].index
answer_index

Int64Index([50830], dtype='int64')

In [ ]:
# dfì—ì„œ indexê°€ answer_indexì¸ ë°ì´í„°ì˜ title ì°¾ê¸° 
df.iloc[answer_index]['title']

50830    60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)
Name: title, dtype: object

### Question 7
ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [ ]:
df_view_comment2=df.loc[(df['view_count']!=0) & (df['comment_count']!=0),['view_count','comment_count']]
df_view_comment2

       view_count  comment_count
0         1893473           8595
1         2600864          20129
2          347049            178
3          528458           3470
4          494904           3142
...           ...            ...
60394      538190           3117
60395     1607562           1141
60396     1125911           1915
60397     1741773            802
60398    13753485         195461

[59609 rows x 2 columns]

In [ ]:
# df_view_comment['comment_count']/df_view_comment['view_count']ì˜ ìµœì†Ÿê°’ êµ¬í•˜ê¸°
min(df_view_comment2['comment_count']/df_view_comment2['view_count'])

2.152455727052944e-08

In [ ]:
# df_view_commentì—ì„œ df_view_comment['comment_count']/df_view_comment['view_count']ê°’ì´ ìµœì†Ÿê°’ ë°ì´í„° ì°¾ê¸° 
df_view_comment2.loc[df_view_comment2['comment_count']/df_view_comment['view_count']==min(df_view_comment2['comment_count']/df_view_comment2['view_count'])]

       view_count  comment_count
46005    46458563              1

In [ ]:
# df_view_comment['comment_count']/df_view_comment['view_count']ì˜ ìµœì†Ÿê°’ì„ ê°€ì§€ëŠ” df_view_commetì˜ indexë¥¼ answer_indexë¡œ ì €ì¥
answer_index=df_view_comment2.loc[df_view_comment2['comment_count']/df_view_comment['view_count']==min(df_view_comment2['comment_count']/df_view_comment2['view_count'])].index
answer_index

Int64Index([46005], dtype='int64')

In [ ]:
# dfì—ì„œ indexê°€ answer_indexì¸ ë°ì´í„°ì˜ title ì°¾ê¸° 
df.iloc[answer_index]['title']

46005    Join the BTS #PermissiontoDance Challenge only...
Name: title, dtype: object

### Question 8
like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [ ]:
# 'likes'ì™€ 'dislikes'ê°€ ëª¨ë‘ 0ì´ ì•„ë‹Œ ë°ì´í„°ì˜ 'likes'ì™€ 'dislikes'ë¥¼ df_likeë¡œ ì €ì¥
df_like=df.loc[(df['likes']!=0) & (df['dislikes']!=0)][['likes','dislikes']]
df_like

         likes  dislikes
0        38249       730
2         3564       120
3        15372       280
4         3918       111
5        26660       368
...        ...       ...
60394    16671       209
60395    14615       258
60396    26490       263
60397    14994       304
60398  1784532      9737

[59693 rows x 2 columns]

In [ ]:
# df_like['dislikes']/df_like['likes']ì˜ ìµœì†Ÿê°’
min(df_like['dislikes']/df_like['likes'])

0.0005234505862646566

In [ ]:
# df_likeì—ì„œ df_like['dislikes']/df_like['likes']ì˜ ìµœì†Ÿê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ì˜ indexë¥¼ answer_indexë¡œ ì €ì¥
answer_index=df_like.loc[df_like['dislikes']/df_like['likes']==min(df_like['dislikes']/df_like['likes'])].index
answer_index

Int64Index([11477], dtype='int64')

In [ ]:
# dfì—ì„œ answer_index í–‰ì˜ title ì¶œë ¥
df.iloc[answer_index]['title']

11477    [ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€...
Name: title, dtype: object

### Question 9
ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [ ]:
# 'channelTitle'ì˜ ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°
df['channelTitle'].value_counts()

ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
                        ...
NamSeok Byun               1
ê³µì›ìƒí™œ / ParkLife            1
Brave Girls                1
ê¹½ëƒ¥íˆ° KY'T                   1
ì•ŒíŒŒ                         1
Name: channelTitle, Length: 1832, dtype: int64

In [ ]:
# ì²«ë²ˆì§¸ ë°ì´í„° ì¶œë ¥
df['channelTitle'].value_counts().index[0]

'ì§¤íˆ°'

### Question 10
20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [ ]:
# 'title','channelId'ì˜ ë¹ˆë„ìˆ˜ê°€ 20ì´ìƒì¸ ë°ì´í„° ì°¾ê¸°
df[['title','channelId']].value_counts()>=20

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA    False
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [ ]:
# Trueì¸ ë°ì´í„°ì˜ ê°œìˆ˜ ì°¾ê¸°(true=1ì´ë¯€ë¡œ sumí•˜ë©´ ê°¯ìˆ˜ê°€ ë¨)
(df[['title','channelId']].value_counts()>=20).sum()

40

## ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°
- ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
- ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)
- dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [ ]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

### Question 1
ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [ ]:
channel['ct']=pd.to_datetime(channel['ct'])
channel['ct']

0      2021-09-30 03:01:03
1      2021-09-30 09:01:03
2      2021-09-30 15:01:03
3      2021-09-30 21:01:03
4      2021-10-01 03:01:04
               ...
1390   2021-10-31 15:01:04
1391   2021-10-31 21:01:04
1392   2021-11-01 03:01:03
1393   2021-11-01 09:01:04
1394   2021-11-01 15:01:07
Name: ct, Length: 1395, dtype: datetime64[ns]

In [ ]:
video['ct']=pd.to_datetime(video['ct'])
video['ct']

0       2021-10-10 15:20:03
1       2021-10-10 15:30:03
2       2021-10-10 15:40:02
3       2021-10-10 15:50:03
4       2021-10-10 16:00:03
                ...
15196   2021-11-01 14:50:06
15197   2021-11-01 15:00:05
15198   2021-11-01 15:10:05
15199   2021-11-01 15:20:04
15200   2021-11-01 15:30:05
Name: ct, Length: 15201, dtype: datetime64[ns]

In [ ]:
video['videoname'].value_counts()

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

### Question 2
ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [ ]:
# ['videoname','ct']ìˆœìœ¼ë¡œ video ë°ì´í„° ì •ë ¬
video.sort_values(['videoname','ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [ ]:
# ['videoname','ct']ìˆœìœ¼ë¡œ video ë°ì´í„° ì •ë ¬ í›„ videonameì´ ì¤‘ë³µë˜ëŠ” ê²ƒ ì œê±°í•˜ë˜ ë§ˆì§€ë§‰ ë°ì´í„°ë§Œ ë‚¨ê¹€
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [ ]:
# ['viewcnt','videoname','ct']ë§Œ ê°€ì ¸ì˜¤ê¸°
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']]

       viewcnt videoname                  ct
3491   3180532    ê³µë²” EP1 2021-11-01 15:30:03
6695   2199328    ê³µë²” EP2 2021-11-01 15:30:03
9263   1671294    ê³µë²” EP3 2021-11-01 15:30:03
11543  1818493    ê³µë²” EP4 2021-11-01 15:30:03
13105  1503435    ê³µë²” EP5 2021-11-01 15:30:04
14934  1750222    ê³µë²” EP6 2021-11-01 15:30:04
13660  1630200    ê³µë²” EP7 2021-11-01 15:30:05
15200  1289088    ê³µë²” EP8 2021-11-01 15:30:05

In [ ]:
# ê²°ê³¼ê°€ ë™ì¼í•˜ê¸° ë‚˜ì˜¤ê¸° ìœ„í•´ ì¸ë±ìŠ¤ë¥¼ ì´ˆê¸°í™” ì‹œí‚´
video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

### Question 3
Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [ ]:
# 2021-10-03 ì´í›„ ë°ì´í„°ì˜ ['channelname','subcnt']ë¥¼ ê°€ì ¸ì˜´
# channelnameì´ ì¤‘ë³µë˜ëŠ” ê²ƒì€ ì œì™¸í•˜ë˜ ì²«ë²ˆì§¸ ë°ì´í„°ë§Œ ë‚¨ê¹€(ì²˜ìŒ ê¸°ë¡ëœ êµ¬ë…ì ìˆ˜ë¥¼ êµ¬í•´ì•¼ í•¨)
# ê²°ê³¼ì™€ ê°™ê²Œ ì¶œë ¥í•˜ê¸° ìœ„í•´ ì¸ë±ìŠ¤ ì´ˆê¸°í™”
channel[channel['ct']>'2021-10-03'][['channelname','subcnt']].drop_duplicates('channelname',keep='first').reset_index(drop=True)

        channelname   subcnt
0               ê½ˆëšœë£¹  1330000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3            ë…¼ë¦¬ì™• ì „ê¸°   922000
4   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
5               ì¡°ë‚˜ë‹¨   215000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
8       ë¦´í„ Lilpearl    10100
9     ê³½í† ë¦¬ kwak tori   471000
10    Balming Tiger    54300

### Question 4
ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ì˜ channel ë°ì´í„°ë¥¼ channel_së¡œ ì €ì¥
channel_s=channel[('2021-10-03 03'<channel['ct'])&(channel['ct']<='2021-11-01 15')]

In [ ]:
# channel_së¥¼ channelnameìœ¼ë¡œ ê·¸ë£¹í•‘í•˜ì—¬ subcntì˜ ì²˜ìŒ, ë§ˆì§€ë§‰ ê°’ì„ êµ¬í•´ channel_s_groupìœ¼ë¡œ ì €ì¥
channel_s_group=channel_s.groupby('channelname')['subcnt'].agg(['first','last'])
channel_s_group

                   first     last
channelname
Balming Tiger      54300    56800
ê³½í† ë¦¬ kwak tori     471000   469000
ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520     9060
ê½ˆëšœë£¹              1330000  1400000
ë…¼ë¦¬ì™• ì „ê¸°            922000   911000
ë¦´í„ Lilpearl        10100    21100
ì•¼ì „ì‚½ì§±ì¬             257000   268000
ì™€ê¸€ì™€ê¸€ WagleWagle    55000    55000
ì¡°ë‚˜ë‹¨               215000   227000
ì¸„ì •ChuJeong        322000   323000
í˜•ì‚¬!íƒì •ë˜ë‹¤            14900    25200

In [ ]:
# last-firstë¥¼ í†µí•´ subcntì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•´ del ì»¬ëŸ¼ìœ¼ë¡œ ì €ì¥
channel_s_group['del']=channel_s_group['last']-channel_s_group['first']
channel_s_group

                   first     last    del
channelname
Balming Tiger      54300    56800   2500
ê³½í† ë¦¬ kwak tori     471000   469000  -2000
ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520     9060   1540
ê½ˆëšœë£¹              1330000  1400000  70000
ë…¼ë¦¬ì™• ì „ê¸°            922000   911000 -11000
ë¦´í„ Lilpearl        10100    21100  11000
ì•¼ì „ì‚½ì§±ì¬             257000   268000  11000
ì™€ê¸€ì™€ê¸€ WagleWagle    55000    55000      0
ì¡°ë‚˜ë‹¨               215000   227000  12000
ì¸„ì •ChuJeong        322000   323000   1000
í˜•ì‚¬!íƒì •ë˜ë‹¤            14900    25200  10300

In [ ]:
# ê²°ê³¼ì™€ ê°™ê²Œ ë‚˜ì˜¤ê¸° ìœ„í•´ indexë¥¼ ì´ˆê¸°í™”í•˜ê³  ê¸°ì¡´ ì¸ë±ìŠ¤ì¸ channelnameì€ ì‚­ì œí•˜ì§€ ì•ŠìŒ
# channelnameê³¼ del ì¶œë ¥
channel_s_group.reset_index(drop=False,inplace=True)
channel_s_group[['channelname','del']]

        channelname    del
0     Balming Tiger   2500
1     ê³½í† ë¦¬ kwak tori  -2000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
3               ê½ˆëšœë£¹  70000
4            ë…¼ë¦¬ì™• ì „ê¸° -11000
5       ë¦´í„ Lilpearl  11000
6             ì•¼ì „ì‚½ì§±ì¬  11000
7   ì™€ê¸€ì™€ê¸€ WagleWagle      0
8               ì¡°ë‚˜ë‹¨  12000
9        ì¸„ì •ChuJeong   1000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤  10300

### Question 5
ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [ ]:
# videonameì— 'ê³µë²” EP1'ì´ í¬í•¨ëœ ë°ì´í„°ë¥¼ 'ct'ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ ep1ì— ì €ì¥
ep1=video[video['videoname'].str.contains('ê³µë²” EP1')].sort_values('ct')
ep1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [ ]:
import datetime

# ep1ì˜ ctì—´ì„ ì•ë’¤ 1í–‰ê³¼ ì°¨ë¶„í–ˆì„ ë•Œ 5ë¶„ì´í•˜ ë˜ëŠ” 20ë¶„ ì´ìƒì¸ ë°ì´í„° ì°¾ê¸°
ep1[(ep1['ct'].diff(1)<=datetime.timedelta(minutes=5)) | (ep1['ct'].diff(1)>=datetime.timedelta(minutes=20))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [ ]:
# 721,722,1636í–‰ì˜ ì „í›„ í–‰ ì¶œë ¥í•˜ê¸°
ep1[ep1.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

### Question 6
ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [ ]:
# videoì˜ ['ct','videoname']ì„ ì •ë ¬í•˜ì—¬ ì¤‘ë³µë°ì´í„°ì˜ ì²«ë²ˆì§¸ë§Œ ë‚¨ê¸°ê³  ì œê±°.
first_video=video[['ct','videoname']].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first')
first_video

                       ct videoname
10    2021-10-07 19:10:03    ê³µë²” EP1
3496  2021-10-09 19:10:03    ê³µë²” EP2
6696  2021-10-14 19:10:04    ê³µë²” EP3
9264  2021-10-16 19:10:04    ê³µë²” EP4
11544 2021-10-21 19:10:04    ê³µë²” EP5
13661 2021-10-23 19:10:04    ê³µë²” EP6
13106 2021-10-28 19:10:04    ê³µë²” EP7
14935 2021-10-30 19:20:04    ê³µë²” EP8

In [ ]:
# 'ct' ì»¬ëŸ¼ì˜ 'ë…„-ì›”-ì¼'ì„ dateì»¬ëŸ¼ìœ¼ë¡œ ì €ì¥
first_video['date']=first_video['ct'].dt.date
first_video

                       ct videoname        date
10    2021-10-07 19:10:03    ê³µë²” EP1  2021-10-07
3496  2021-10-09 19:10:03    ê³µë²” EP2  2021-10-09
6696  2021-10-14 19:10:04    ê³µë²” EP3  2021-10-14
9264  2021-10-16 19:10:04    ê³µë²” EP4  2021-10-16
11544 2021-10-21 19:10:04    ê³µë²” EP5  2021-10-21
13661 2021-10-23 19:10:04    ê³µë²” EP6  2021-10-23
13106 2021-10-28 19:10:04    ê³µë²” EP7  2021-10-28
14935 2021-10-30 19:20:04    ê³µë²” EP8  2021-10-30

In [ ]:
# dateì™€ videoname ì¶œë ¥
first_video[['date','videoname']]

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

### Question 7
â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [ ]:
# 'ct' ì»¬ëŸ¼ì˜ ì‹œê°„ì„ 'hour'ì»¬ëŸ¼ìœ¼ë¡œ ì €ì¥
video['hour']=video['ct'].dt.hour
video['hour']

0        15
1        15
2        15
3        15
4        16
         ..
15196    14
15197    15
15198    15
15199    15
15200    15
Name: hour, Length: 15201, dtype: int64

In [ ]:
# 21ì‹œ ë°ì´í„°ë¥¼ ['videoname','ct']ìˆœìœ¼ë¡œ ì •ë ¬
video[video['hour']==21].sort_values(['videoname','ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,ê³µë²” EP1,21
22,c5JQp6xafqc,129841,6519,83,0,1522,2021-10-07 21:10:03,ê³µë²” EP1,21
23,c5JQp6xafqc,139487,7004,105,0,1627,2021-10-07 21:20:03,ê³µë²” EP1,21
24,c5JQp6xafqc,147763,7444,112,0,1701,2021-10-07 21:30:02,ê³µë²” EP1,21
25,c5JQp6xafqc,159899,7861,117,0,1803,2021-10-07 21:40:03,ê³µë²” EP1,21
...,...,...,...,...,...,...,...,...,...
15090,yZt-h-KcmUE,1159021,24543,3446,0,30092,2021-10-31 21:10:07,ê³µë²” EP8,21
15091,yZt-h-KcmUE,1161886,24568,3446,0,30131,2021-10-31 21:20:05,ê³µë²” EP8,21
15092,yZt-h-KcmUE,1165092,24591,3447,0,30165,2021-10-31 21:30:05,ê³µë²” EP8,21
15093,yZt-h-KcmUE,1167818,24614,3450,0,30185,2021-10-31 21:40:06,ê³µë²” EP8,21
15094,yZt-h-KcmUE,1170183,24633,3453,0,30220,2021-10-31 21:50:04,ê³µë²” EP8,21

In [ ]:
# 21ì‹œ ë°ì´í„°ë¥¼ ['videoname','ct']ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ 'videoname'ì´ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ë¥¼ ì²«ë²ˆì§¸ë§Œ ë‚¨ê¸°ê³  ì‚­ì œí•˜ì—¬ video_21ë¡œ ì €ì¥
video_21=video[video['hour']==21].sort_values(['videoname','ct']).drop_duplicates('videoname',keep='first')
video_21

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,ê³µë²” EP1,21
3507,23QQ1ru9YQg,148144,6039,122,0,2127,2021-10-09 21:00:03,ê³µë²” EP2,21
6707,GygoAk1hDU0,147183,5839,76,0,3105,2021-10-14 21:00:04,ê³µë²” EP3,21
9275,bK0_3Vbfvs8,217674,7854,82,0,5029,2021-10-16 21:00:04,ê³µë²” EP4,21
11555,hv7FBjskAu0,201179,6897,105,0,4283,2021-10-21 21:00:04,ê³µë²” EP5,21
13672,AxGKHmXyuAE,213899,8259,79,0,4325,2021-10-23 21:00:06,ê³µë²” EP6,21
13117,QUjQbgj5IXM,252032,11111,90,0,6395,2021-10-28 21:00:04,ê³µë²” EP7,21
14945,yZt-h-KcmUE,264029,11598,1438,0,13292,2021-10-30 21:00:08,ê³µë²” EP8,21

In [ ]:
# video_21ì˜ ['videoname','viewcnt','ct'] ì»¬ëŸ¼ì„ viewcnt ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬
# ê²°ê³¼ì™€ ê°™ê²Œ ì¶œë ¥í•˜ê¸° ìœ„í•´ index ì´ˆê¸°í™”
video_21[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending=False).reset_index(drop=True)

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

### Question 8
video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [ ]:
# ctê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ í›„ videonameì´ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ëŠ” ë§ˆì§€ë§‰ë§Œ ë‚¨ê¸°ê³  ì‚­ì œí•˜ì—¬ last_videoë¡œ ì €ì¥
last_video=video.sort_values('ct').drop_duplicates('videoname',keep='last')
last_video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,15
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,15
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,15
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,15
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,15
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,15
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,15

In [ ]:
# last_videoì—ì„œ dislikecnt/likecnt ê°’ì„ ratio ì»¬ëŸ¼ì— ì €ì¥
last_video['ratio']=last_video['dislikecnt']/last_video['likecnt']
last_video['ratio']

11543    0.017971
3491     0.027118
9263     0.022360
6695     0.029844
13105    0.021128
14934    0.015881
13660    0.013636
15200    0.141357
Name: ratio, dtype: float64

In [ ]:
# videonameê³¼ ratioë¥¼ ratio ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì—¬ ì¶œë ¥
last_video[['videoname','ratio']].sort_values('ratio').reset_index(drop=True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

### Question 9
2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [ ]:
# 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ['videoname','viewcnt'] ë°ì´í„°ë¥¼ video_1101ë¡œ ì €ì¥
video_1101=video.loc[('2021-11-01 00' <= video['ct']) & (video['ct']<='2021-11-01 15'),['videoname','viewcnt']]
video_1101

      videoname  viewcnt
3398     ê³µë²” EP1  3166400
3399     ê³µë²” EP1  3166721
3400     ê³µë²” EP1  3167110
3401     ê³µë²” EP1  3167459
3402     ê³µë²” EP1  3167809
...         ...      ...
15192    ê³µë²” EP8  1281140
15193    ê³µë²” EP8  1282186
15194    ê³µë²” EP8  1283259
15195    ê³µë²” EP8  1284443
15196    ê³µë²” EP8  1285474

[720 rows x 2 columns]

In [ ]:
# video_1101ì„ videonameìœ¼ë¡œ ê·¸ë£¹í•‘í•œ í›„ viewcntì˜ ì²˜ìŒ, ë§ˆì§€ë§‰ ê°’ì„ êµ¬í•¨
video_1101_group=video_1101.groupby('videoname')['viewcnt'].agg(['first','last'])
video_1101_group

             first     last
videoname
 ê³µë²” EP1    3166400  3179698
 ê³µë²” EP2    2188578  2198878
 ê³µë²” EP3    1660916  1670843
 ê³µë²” EP4    1808141  1817965
 ê³µë²” EP5    1492223  1503047
 ê³µë²” EP6    1735457  1749598
 ê³µë²” EP7    1602201  1629150
 ê³µë²” EP8    1196327  1285474

In [ ]:
# ë§ˆì§€ë§‰-ì²˜ìŒ ê°’ì„ viewcnt ì»¬ëŸ¼ìœ¼ë¡œ ì €ì¥
video_1101_group['viewcnt']=video_1101_group['last']-video_1101_group['first']
video_1101_group

             first     last  viewcnt
videoname
 ê³µë²” EP1    3166400  3179698    13298
 ê³µë²” EP2    2188578  2198878    10300
 ê³µë²” EP3    1660916  1670843     9927
 ê³µë²” EP4    1808141  1817965     9824
 ê³µë²” EP5    1492223  1503047    10824
 ê³µë²” EP6    1735457  1749598    14141
 ê³µë²” EP7    1602201  1629150    26949
 ê³µë²” EP8    1196327  1285474    89147

In [ ]:
video_1101_group['viewcnt']

videoname
 ê³µë²” EP1    13298
 ê³µë²” EP2    10300
 ê³µë²” EP3     9927
 ê³µë²” EP4     9824
 ê³µë²” EP5    10824
 ê³µë²” EP6    14141
 ê³µë²” EP7    26949
 ê³µë²” EP8    89147
Name: viewcnt, dtype: int64

### Question 10
video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# videoì—ì„œ ì¤‘ë³µë˜ëŠ” í–‰ ì°¾ê¸°
video.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15196    False
15197    False
15198    False
15199    False
15200    False
Length: 15201, dtype: bool

In [ ]:
# ì¤‘ë³µë˜ëŠ” í–‰ì˜ ë°ì´í„° í™•ì¸
video[video.duplicated()]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,9

In [ ]:
# ì¤‘ë³µë˜ëŠ” í–‰ì˜ videonameê³¼ ct í™•ì¸
video[video.duplicated()][['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

## ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°
- ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
- ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

### Question 1
ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [7]:
# 'Country'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í•‘ í›„ 'Goals' í•©ì„ êµ¬í•œ ë°ì´í„°í”„ë ˆì„ì„ df_countryë¡œ ì €ì¥
df_country=df.groupby('Country')['Goals'].sum().reset_index()
df_country

       Country  Goals
0      Algeria     13
1       Angola      1
2    Argentina    135
3    Australia     13
4      Austria     40
..         ...    ...
71        USSR     52
72     Ukraine      5
73     Uruguay     86
74       Wales      4
75  Yugoslavia     61

[76 rows x 2 columns]

In [9]:
# df_countryë¥¼ 'Goals' ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬
df_country.sort_values('Goals',ascending=False).head()

      Country  Goals
8      Brazil    228
25    Germany    226
2   Argentina    135
36      Italy    123
24     France    115

In [10]:
# ê²°ê³¼ì™€ ê°™ê²Œ ë‚˜ì˜¤ê¸° ìœ„í•´ 'Country'ë¥¼ indexë¡œ ì„¤ì •
df_country.sort_values('Goals',ascending=False).head().set_index('Country')

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

### Question 2
ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [17]:
# 'Country' ê¸°ì¤€ ê·¸ë£¹í•‘ ìˆ˜ ê°’ì˜ ê°œìˆ˜ë¥¼ ì„¸ì–´ 'Goals' ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
df.groupby('Country').count().sort_values('Goals',ascending=False)

           Player  Goals  Years
Country
Brazil         81     81     81
Germany        78     78     78
Italy          60     60     60
Argentina      59     59     59
France         58     58     58
...           ...    ...    ...
Haiti           1      1      1
Angola          1      1      1
Bolivia         1      1      1
Israel          1      1      1
Iraq            1      1      1

[76 rows x 3 columns]

In [20]:
# ìƒìœ„ 5ê°œ ì¶œë ¥
df.groupby('Country').count().sort_values('Goals',ascending=False)[['Player']].head()

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

### Question 3
Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [25]:
# 'Years' ì»¬ëŸ¼ í™•ì¸
df['Years']

0       2002-2006-2010-2014
1            1998-2002-2006
2                 1970-1974
3                      1958
4       1958-1962-1966-1970
               ...
1290                   1962
1291              1982-1990
1292                   1930
1293                   1930
1294              1954-1958
Name: Years, Length: 1295, dtype: object

In [26]:
# 'Years' ì»¬ëŸ¼ì„ ë¬¸ìì—´ë¡œ ë°”ê¿” '-' ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬í•˜ê³  'Year'ì»¬ëŸ¼ì— ì €ì¥
df['Year']=df['Years'].str.split('-')
df['Year']

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: Year, Length: 1295, dtype: object

In [27]:
# ì—°ë„ í‘œê¸°ê°€ 4ìë¦¬ì¸ì§€ í™•ì¸í•˜ëŠ” í•¨ìˆ˜ check ìƒì„±
def check(list):
  for x in list:
    if len(str(x))!=4:
      return False
    else:
      return True

# 'Year' ì»¬ëŸ¼ì— check í•¨ìˆ˜ ì ìš©í•œ ê²°ê³¼ë¥¼ 'check' ì»¬ëŸ¼ì— ì €ì¥
df['check']=df['Year'].apply(check)
df['check']

0       True
1       True
2       True
3       True
4       True
        ...
1290    True
1291    True
1292    True
1293    True
1294    True
Name: check, Length: 1295, dtype: bool

In [28]:
# 'check' ì»¬ëŸ¼ ê°’ì´ Fasleì¸ ë°ì´í„°(ì—°ë„ í‘œê¸°ê°€ 4ìë¦¬ê°€ ì•„ë‹Œ ë°ì´í„°) í™•ì¸
df[df['check']==False]

                    Player  Goals Years       Country Year  check
71             Roger Milla      5     0      Cameroon  [0]  False
190           Jesper Olsen      3     0       Denmark  [0]  False
210            Laszlo Kiss      3     0       Hungary  [0]  False
404         Ricardo Pelaez      2     0        Mexico  [0]  False
505          Djamel Zidane      1     0       Algeria  [0]  False
544         Andreas Herzog      1     0       Austria  [0]  False
622         Georgi Sokolov      1     0      Bulgaria  [0]  False
624           Eugene Ekeke      1     0      Cameroon  [0]  False
625             David Embe      1     0      Cameroon  [0]  False
640            Jose Sierra      1     0         Chile  [0]  False
651          Harold Lozano      1     0      Colombia  [0]  False
652        Leider Preciado      1     0      Colombia  [0]  False
662         Hernan Medford      1     0    Costa Rica  [0]  False
692           Milan Luhovy      1     0         Czech  [0]  False
699           John Eriksen      1     0       Denmark  [0]  False
705           Peter Moller      1     0       Denmark  [0]  False
713           Luis Ramirez      1     0   El Salvador  [0]  False
749     Christophe Dugarry      1     0        France  [0]  False
803         Andreas Moller      1     0       Germany  [0]  False
807           Uwe Reinders      1     0       Germany  [0]  False
825          Eduardo Laing      1     0      Honduras  [0]  False
835             Ferenc Sas      1     0       Hungary  [0]  False
837          Lazar Szentes      1     0       Hungary  [0]  False
841            Andras Toth      1     0       Hungary  [0]  False
854         Hassan Rowshan      1     0          Iran  [0]  False
856          John Aldridge      1     0       Ireland  [0]  False
895            Aldo Serena      1     0         Italy  [0]  False
899           Robbie Earle      1     0       Jamaica  [0]  False
913      Ignacio Basaguren      1     0        Mexico  [0]  False
952           Theo de Jong      1     0   Netherlands  [0]  False
959          Dick Nanninga      1     0   Netherlands  [0]  False
963         Gaston Taument      1     0   Netherlands  [0]  False
967   Pierre van Hooijdonk      1     0   Netherlands  [0]  False
985           Wilson Oruma      1     0       Nigeria  [0]  False
1025    Wlodzimierz Ciolek      1     0        Poland  [0]  False
1067    Fahad Al Ghesheyan      1     0  Saudi Arabia  [0]  False
1070     Youssef Al Tunian      1     0  Saudi Arabia  [0]  False
1119          Seo Jung Won      1     0   South Korea  [0]  False
1127     Txiki Begiristain      1     0         Spain  [0]  False
1134             Guardiola      1     0         Spain  [0]  False
1169       Glenn Stromberg      1     0        Sweden  [0]  False
1188           Jean Tamini      1     0   Switzerland  [0]  False
1214     Antonio Alzamendi      1     0       Uruguay  [0]  False
1216      Pablo Bengoechea      1     0       Uruguay  [0]  False
1268       Pavel Yakovenko      1     0          USSR  [0]  False

In [29]:
# 'check' ì»¬ëŸ¼ ê°’ì´ Fasleì¸ ë°ì´í„°(ì—°ë„ í‘œê¸°ê°€ 4ìë¦¬ê°€ ì•„ë‹Œ ë°ì´í„°)ì˜ ê°œìˆ˜ êµ¬í•˜ê¸°
len(df[df['check']==False])

45

### Question 4
Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤)

In [31]:
# 'check' ì»¬ëŸ¼ì˜ ê°’ì´ Trueì¸ ë°ì´í„°ë¥¼ df2ë¡œ ì €ì¥
df2=df[df['check']==True]
df2

,Player,Goals,Years,Country,Year,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [32]:
# df2ì˜ í–‰ì˜ ê°¯ìˆ˜ í™•ì¸
len(df2)

1250

### Question 5
ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [41]:
# 'Year' ì»¬ëŸ¼ì˜ ê¸¸ì´ë¥¼ 'LenCup'ìœ¼ë¡œ ì €ì¥
df2['LenCup']=df2['Year'].str.len()
df2['LenCup']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       4
1       3
2       2
3       1
4       4
       ..
1290    1
1291    2
1292    1
1293    1
1294    2
Name: LenCup, Length: 1250, dtype: int64

In [44]:
# ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°
df2['LenCup'].value_counts()

1    779
2    353
3    102
4     16
Name: LenCup, dtype: int64

In [45]:
# 4ì¸ ë°ì´í„°ì˜ ë¹ˆë„ìˆ˜(=ì¶œì „íšŸìˆ˜ê°€ 4ë²ˆì¸ ë°ì´í„°)
df2['LenCup'].value_counts()[4]

16

### Question 6
Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [46]:
# Yugoslavia êµ­ê°€ì˜ ë°ì´í„°ë¥¼ df2_Yugo ë¡œ ì €ì¥
df2_Yugo=df2[df2['Country']=='Yugoslavia']
df2_Yugo

,Player,Goals,Years,Country,Year,check,LenCup
158,Drazen Jerkovic,4,1962,Yugoslavia,[1962],True,1
250,Dusan Bajevic,3,1974,Yugoslavia,[1974],True,1
251,Ivica Bek,3,1930,Yugoslavia,[1930],True,1
252,Milan Galic,3,1962,Yugoslavia,[1962],True,1
253,Robert Prosinecki,3,1990-1998-2002,Yugoslavia,"[1990, 1998, 2002]",True,3
254,Dragan Stojkovic,3,1990-1998,Yugoslavia,"[1990, 1998]",True,2
255,Toza Veselinovic,3,1958,Yugoslavia,[1958],True,1
491,Zeljko Cajkovski,2,1950,Yugoslavia,[1950],True,1
492,Davor Jozic,2,1990,Yugoslavia,[1990],True,1
493,Stanislav Karasi,2,1974,Yugoslavia,[1974],True,1
494,Slobodan Komljenovic,2,1998,Yugoslavia,[1998],True,1
495,Darko Pancev,2,1990,Yugoslavia,[1990],True,1
496,Aleksandar Petakovic,2,1958,Yugoslavia,[1958],True,1
497,Ivica Surjak,2,1974-1982,Yugoslavia,"[1974, 1982]",True,2
498,Kosta Tomasevic,2,1950,Yugoslavia,[1950],True,1
1272,Stjepan Bobek,1,1950-1954,Yugoslavia,"[1950, 1954]",True,2
1273,Vladislav Bogicevic,1,1974,Yugoslavia,[1974],True,1
1274,Dragan Dzajic,1,1974,Yugoslavia,[1974],True,1
1275,Ivan Gudelj,1,1982,Yugoslavia,[1982],True,1
1276,Josip Katalinski,1,1974,Yugoslavia,[1974],True,1
1277,Blagoje Marjanovic,1,1930,Yugoslavia,[1930],True,1
1278,Vojislav Melic,1,1962,Yugoslavia,[1962],True,1
1279,Sinisa Mihajlovic,1,1998,Yugoslavia,[1998],True,1
1280,Predrag Mijatovic,1,1998,Yugoslavia,[1998],True,1
1281,Milos Milutinovic,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2
1282,Branko Oblak,1,1974,Yugoslavia,[1974],True,1
1283,Tihomir Ognjanov,1,1950,Yugoslavia,[1950],True,1
1284,Radivoje Ognjanovic,1,1958,Yugoslavia,[1958],True,1
1285,Ilija Petkovic,1,1974,Yugoslavia,[1974],True,1
1286,Vladimir Petrovic,1,1974-1982,Yugoslavia,"[1974, 1982]",True,2
1287,Petar Radakovic,1,1962,Yugoslavia,[1962],True,1
1288,Zdravko Rajkov,1,1958,Yugoslavia,[1958],True,1
1289,Branislav Sekulic,1,1930,Yugoslavia,[1930],True,1
1290,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [49]:
# 'LenCup'ì´ 2ì¸ ë°ì´í„°ì˜ ê°œìˆ˜
(df2_Yugo['LenCup']==2).sum()

7

### Question 7
2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [50]:
# 'Years'ì— '2002'ë¥¼ í¬í•¨í•˜ê³  ìˆëŠ” ë°ì´í„° ì°¾ê¸°
df2[df2['Years'].str.contains('2002')]

,Player,Goals,Years,Country,Year,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
7,Gabriel Batistuta,10,1994-1998-2002,Argentina,"[1994, 1998, 2002]",True,3
20,Christian Vieri,9,1998-2002,Italy,"[1998, 2002]",True,2
26,Rivaldo,8,1998-2002,Brazil,"[1998, 2002]",True,2
...,...,...,...,...,...,...,...
1231,Alvaro Recoba,1,2002,Uruguay,[2002],True,1
1233,Dario Rodriguez,1,2002,Uruguay,[2002],True,1
1244,Clint Mathis,1,2002,USA,[2002],True,1
1246,John O Brien,1,2002-2006,USA,"[2002, 2006]",True,2
1247,Earnie Stewart,1,1994-1998-2002,USA,"[1994, 1998, 2002]",True,3

In [51]:
# 'Years'ì— '2002'ë¥¼ í¬í•¨í•˜ê³  ìˆëŠ” ë°ì´í„°ì˜ ê°œìˆ˜
len(df2[df2['Years'].str.contains('2002')])

156

### Question 8
ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [54]:
# 'Player' ì»¬ëŸ¼ì˜ ë¬¸ìì—´ì„ ì†Œë¬¸ìë¡œ ë°”ê¿” 'carlos'ê°€ í¬í•¨ë˜ëŠ” ë°ì´í„° ì°¾ê¸°
df2[df2['Player'].str.lower().str.contains('carlos')]

,Player,Goals,Years,Country,Year,check,LenCup
150,Carlos Borges,4,1954,Uruguay,[1954],True,1
163,Carlos Peucelle,3,1930,Argentina,[1930],True,1
165,Carlos Tevez,3,2006-2010,Argentina,"[2006, 2010]",True,2
338,Carlos Tenorio,2,2002-2006,Ecuador,"[2002, 2006]",True,2
511,Carlos Babington,1,1974,Argentina,[1974],True,1
584,Carlos Alberto,1,1970,Brazil,[1970],True,1
589,Roberto Carlos,1,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
643,Carlos Vidal,1,1930,Chile,[1930],True,1
655,Carlos Valderrama,1,1990-1994-1998,Colombia,"[1990, 1994, 1998]",True,3
684,Carlos Oliveira,1,1938,Cuba,[1938],True,1
940,Carlos Vela,1,2018,Mexico,[2018],True,1
1041,Carlos Manuel,1,1986,Portugal,[1986],True,1
1151,Juan Carlos Valeron,1,2002,Spain,[2002],True,1

In [55]:
# 'Player' ì»¬ëŸ¼ì˜ ë¬¸ìì—´ì„ ì†Œë¬¸ìë¡œ ë°”ê¿” 'carlos'ê°€ í¬í•¨ë˜ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜
len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

### Question 9 
ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [57]:
# 'LenCup'ì´ 1ì¸ ë°ì´í„°ë¥¼ 'Goals' ìˆœìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
df2[df2['LenCup']==1].sort_values('Goals',ascending=False)

                   Player  Goals Years     Country    Year  check  LenCup
3           Just Fontaine     13  1958      France  [1958]   True       1
6           Sandor Kocsis     11  1954     Hungary  [1954]   True       1
13                 Ademir      9  1950      Brazil  [1950]   True       1
21                Eusebio      9  1966    Portugal  [1966]   True       1
24      Guillermo Stabile      8  1930   Argentina  [1930]   True       1
...                   ...    ...   ...         ...     ...    ...     ...
758      Marcel Langiller      1  1930      France  [1930]   True       1
756       Oscar Heisserer      1  1938      France  [1938]   True       1
755        Gerard Hausser      1  1966      France  [1966]   True       1
754        Olivier Giroud      1  2014      France  [2014]   True       1
1293  Djordje Vujadinovic      1  1930  Yugoslavia  [1930]   True       1

[779 rows x 7 columns]

In [61]:
# 'LenCup'ì´ 1ì¸ ë°ì´í„°ë¥¼ 'Goals' ìˆœìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì—¬ 'Player' í™•ì¸
df2[df2['LenCup']==1].sort_values('Goals',ascending=False)['Player']

3             Just Fontaine
6             Sandor Kocsis
13                   Ademir
21                  Eusebio
24        Guillermo Stabile
               ...
758        Marcel Langiller
756         Oscar Heisserer
755          Gerard Hausser
754          Olivier Giroud
1293    Djordje Vujadinovic
Name: Player, Length: 779, dtype: object

In [62]:
# 'LenCup'ì´ 1ì¸ ë°ì´í„°ë¥¼ 'Goals' ìˆœìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì—¬ 'Player'ì˜ ì²«ë²ˆì§¸ ê°’ í™•ì¸
df2[df2['LenCup']==1].sort_values('Goals',ascending=False)['Player'].values[0]

'Just Fontaine'

### Question 10
ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [70]:
# 'LenCup'ì´ 1ì¸ ë°ì´í„°ë¥¼ 'Country'ë¡œ ê·¸ë£¹í•‘í•œ í›„ ê°’ì˜ ê°œìˆ˜ ì§‘ê³„í•˜ì—¬ LenCup1_Playerë¡œ ì €ì¥
LenCup1_player=df2[df2['LenCup']==1].groupby('Country').count()
LenCup1_player

            Player  Goals  Years  Year  check  LenCup
Country
Algeria          6      6      6     6      6       6
Angola           1      1      1     1      1       1
Argentina       33     33     33    33     33      33
Australia        2      2      2     2      2       2
Austria         15     15     15    15     15      15
...            ...    ...    ...   ...    ...     ...
USSR            21     21     21    21     21      21
Ukraine          4      4      4     4      4       4
Uruguay         26     26     26    26     26      26
Wales            3      3      3     3      3       3
Yugoslavia      30     30     30    30     30      30

[75 rows x 6 columns]

In [74]:
# 'Player'ê°€ 'Player'ì˜ ìµœëŒ“ê°’ê³¼ ê°™ì€ í–‰ ì°¾ê¸°
LenCup1_player.loc[LenCup1_player['Player']==(LenCup1_player['Player'].max())]

         Player  Goals  Years  Year  check  LenCup
Country
Brazil       43     43     43    43     43      43

In [75]:
# 'Player'ê°€ 'Player'ì˜ ìµœëŒ“ê°’ê³¼ ê°™ì€ í–‰ì˜ index í™•ì¸
LenCup1_player.loc[LenCup1_player['Player']==(LenCup1_player['Player'].max())].index

Index(['Brazil'], dtype='object', name='Country')

In [76]:
# 'LenCup'ì´ 1ì¸ ë°ì´í„°ì˜ 'Country'ì˜ ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°
df2[df2['LenCup']==1]['Country'].value_counts()

Brazil       43
Argentina    33
Germany      32
France       31
Spain        30
             ..
Jamaica       1
Haiti         1
Panama        1
Ecuador       1
Togo          1
Name: Country, Length: 75, dtype: int64

In [77]:
# ì²«ë²ˆì§¸ ì¸ë±ìŠ¤ í™•ì¸
df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'