## 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df=pd.read_csv('../input/bigdatacertificationkr/basic2.csv')
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [2]:
# df 기본정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [3]:
# 'Date' 컬럼의 데이터 형식을 datetime으로 변경
df['Date']=pd.to_datetime(df['Date'])

In [4]:
# df 기본정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [5]:
# 'Date'컬럼에서 연/월/일/요일 추출
df['year']=df['Date'].dt.year
df['month']=df['Date'].dt.month
df['day']=df['Date'].dt.day
df['weekday']=df['Date'].dt.weekday

df.head()

        Date     Sales      PV      UV  Events  year  month  day  weekday
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1        5
1 2022-01-02     36779    3969  2289.0       0  2022      1    2        6
2 2022-01-03  13943875  373890     NaN       1  2022      1    3        0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4        1
4 2022-01-05   2395374  190684     NaN       0  2022      1    5        2

In [6]:
# 2022년 5월 평일/주말 'Sales' 컬럼의 평균값 구하기
weekday=df[(df['year']==2022)&(df['month']==5)&(df['weekday']<5)]['Sales'].mean()
hoilday=df[(df['year']==2022)&(df['month']==5)&(df['weekday']>=5)]['Sales'].mean()

round(abs(weekday-hoilday),2)

3010339.1

In [7]:
# 라이브러리 불러오기
import pandas as pd

In [8]:
# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'])

In [9]:
df.head()

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [11]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek

In [12]:
df.head()

        Date     Sales      PV      UV  Events  year  month  day  dayofweek
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1          5
1 2022-01-02     36779    3969  2289.0       0  2022      1    2          6
2 2022-01-03  13943875  373890     NaN       1  2022      1    3          0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4          1
4 2022-01-05   2395374  190684     NaN       0  2022      1    5          2

In [13]:
df['weekend'] = df['dayofweek'].apply(lambda x: x>=5)

In [14]:
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,weekend
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False

In [15]:
weekend_cond = (df['year']==2022) & (df['month']==5) & (df['weekend'])
weekday_cond = (df['year']==2022) & (df['month']==5) & (~df['weekend'])

In [16]:
weekend = df[weekend_cond]['Sales'].mean()
weekday = df[weekday_cond]['Sales'].mean()

In [17]:
round(weekend - weekday, 1)

3010339.1