## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df=pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [2]:
# EDA - 결측값 확인(비율 확인)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [3]:
# 컬럼별 결측치 개수
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [4]:
# 컬럼별 결측치 비율
df.isnull().sum()/len(df)

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [5]:
# 80%이상 결측치 컬럼 삭제
df.drop('f3',axis=1,inplace=True)
df

       id    age city    f1  f2    f4         f5
0    id01    2.0   서울   NaN   0  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  INFP  52.667078
4    id05   24.0   서울  85.0   2  ISFJ  29.269869
..    ...    ...  ...   ...  ..   ...        ...
95   id96   92.0   경기  53.0   1  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  INFP  67.886373
97   id98   39.0   경기  58.0   2  INFP  98.429899
98   id99    1.0   경기  47.0   0  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  ESFP  33.308999

[100 rows x 7 columns]

In [6]:
# 80%미만 결측치 컬럼, city별 중앙값으로 대체
df.groupby('city')['f1'].median()

city
경기    58.0
대구    75.0
부산    62.0
서울    68.0
Name: f1, dtype: float64

In [7]:
g=df.groupby('city')['f1'].median()[0]
d=df.groupby('city')['f1'].median()[1]
b=df.groupby('city')['f1'].median()[2]
s=df.groupby('city')['f1'].median()[3]

f1city={
    '경기':g,
    '서울':s,
    '부산':b,
    '대구':d
}

df['f1'].fillna(df['city'].map(f1city),inplace=True)
df['f1']

0     68.0
1     70.0
2     61.0
3     68.0
4     85.0
      ...
95    53.0
96    58.0
97    58.0
98    47.0
99    53.0
Name: f1, Length: 100, dtype: float64

In [8]:
# f1 평균값 결과 출력
df['f1'].mean()

65.52

## Hint
- city별 중앙값으로 대체에서는 map함수 활용

## 풀이

In [9]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [10]:
# EDA - 결측값 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [11]:
# 데이터 shape
df.shape

(100, 8)

In [12]:
# EDA - 결측비율 확인
df.isnull().sum()/df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [13]:
# f3 컬럼 삭제
print("삭제 전:", df.shape)
df = df.drop(['f3'], axis=1)
print("삭제 후:", df.shape)

# 결측치가 있는 컬럼을 제거하는 2가지 방법
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

삭제 전: (100, 8)
삭제 후: (100, 7)

In [14]:
# 도시 확인
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [15]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s, k, b, d

#방법2
# k, d, b, s = df.groupby('city')['f1'].median()

(68.0, 58.0, 62.0, 75.0)

In [16]:
# 대체 전 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울   NaN   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산   NaN   1  ISFP  29.269869

In [17]:
# f1결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

# 만약 그냥 f1 중앙값으로 대체 한다면 
# df['f1'] = df['f1'].fillna(df['f1'].median())

In [18]:
# 대체 후 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울  68.0   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산  62.0   1  ISFP  29.269869

In [19]:
#결과 출력
print(df['f1'].mean())

65.52