## 나이 구간 나누기
###  basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
### (이상치는 음수(0포함), 소수점 값)
- data: basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df=pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [2]:
# 'age'가 0보다 크고 소수점값이 아닌 데이터만 df로 가져옴
df=df[(df['age']>0) & (df['age']==round(df['age'],0))]
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[90 rows x 8 columns]

In [3]:
# pd.cut: 같은 길이로 n등분
pd.cut(df['age'],3).value_counts()

(67.0, 100.0]    34
(34.0, 67.0]     32
(0.901, 34.0]    24
Name: age, dtype: int64

In [4]:
# pd.qcut: 같은 개수로 n등분
pd.qcut(df['age'],3).value_counts()

(0.999, 38.667]     30
(38.667, 73.333]    30
(73.333, 100.0]     30
Name: age, dtype: int64

In [5]:
# 문제에서 동일한 개수로 3그룹을 만들라 했으므로 qcut 사용
df['age_cut']=pd.qcut(df['age'],3,labels=['a1','a2','a3']) # labels: 그룹 이름 지정
df['age_cut']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0     a1
1     a1
2     a1
3     a3
4     a1
      ..
95    a3
96    a3
97    a2
98    a1
99    a2
Name: age_cut, Length: 90, dtype: category
Categories (3, object): ['a1' < 'a2' < 'a3']

In [6]:
df['age_cut'].value_counts()

a1    30
a2    30
a3    30
Name: age_cut, dtype: int64

In [7]:
# a1, a2, a3 그룹 'age' 중앙값의 합
df[df['age_cut']=='a1']['age'].median() + df[df['age_cut']=='a2']['age'].median() + df[df['age_cut']=='a3']['age'].median()

165.0

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

In [10]:
# age 이상치 (음수(0포함), 소수점 제거)
print('전체 데이터:', df.shape)
df = df[~(df['age'] <= 0)]
print('음수(0포함)값 제거 후 데이터 크기:', df.shape)

df = df[(df['age'] == round(df['age'],0))]
print('소수점 제거 후 데이터 크기:', df.shape)

전체 데이터: (100, 8)
음수(0포함)값 제거 후 데이터 크기: (96, 8)
소수점 제거 후 데이터 크기: (90, 8)

In [11]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [12]:
# 기준 확인
pd.qcut(df['age'], q=3)

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [13]:
# 구간 분할
df['range'] = pd.qcut(df['age'], q=3, labels=['group1','group2','group3'])

In [14]:
# 수량 비교
df['range'].value_counts()

group1    30
group2    30
group3    30
Name: range, dtype: int64

In [15]:
# 중간이상 - 중간이하 
g1_med = df[df['range'] == 'group1']['age'].median()
g2_med = df[df['range'] == 'group2']['age'].median()
g3_med = df[df['range'] == 'group3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0