### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df=pd.read_csv('../input/bigdatacertificationkr/basic2.csv')
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [2]:
# df 기본정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [3]:
# 'Date' 컬럼을 datetime 형식으로 변경
df['Date']=pd.to_datetime(df['Date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [4]:
# Date 컬럼에서 주 추출
df['week']=df['Date'].dt.weekofyear
df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

        Date     Sales      PV      UV  Events  week
0 2022-01-01  22711525  397349  4421.0       1    52
1 2022-01-02     36779    3969  2289.0       0    52
2 2022-01-03  13943875  373890     NaN       1     1
3 2022-01-04   8088593  142054  2157.0       0     1
4 2022-01-05   2395374  190684     NaN       0     1

In [5]:
# week 기준 그룹핑 후 'Sales' 합계 구하기
df.groupby('week')['Sales'].sum()

week
1      44781664
2     101144216
3      68704030
4      54746134
5      69440264
6      84482917
7     116577583
8      76459421
9      78315195
10    119887827
11    123452616
12     98327637
13     37839960
14     48213553
15     73508813
16     79438207
17     51794447
18     26205369
19    117984320
20     56582999
21     84446592
22     65168503
23     84144236
24     52083756
25    120710663
26     39354815
27     93566747
28     79914419
29     90433087
30     93677637
31     73097072
32     53126596
33     60109624
34     64414770
35     67817496
36     78090753
37     85150166
38    101654917
39    186775279
40     50445888
41     92103093
42    122234629
43     62172896
44     63501376
45     87850240
46     79381183
47    103175924
48     59288782
49    124466629
50     78108692
51     78600456
52    147570567
Name: Sales, dtype: int64

In [6]:
# 'Sales' 합의 최댓값
df.groupby('week')['Sales'].sum().max()

186775279

In [7]:
# 'Sales' 합의 최솟값
df.groupby('week')['Sales'].sum().min()

26205369

In [8]:
# 최댓값 최솟값 차이
abs(df.groupby('week')['Sales'].sum().max() - df.groupby('week')['Sales'].sum().min())

160569910

In [9]:
# 'Date'를 인덱스로 설정
df2=df.set_index('Date')
df2

               Sales      PV      UV  Events  week
Date
2022-01-01  22711525  397349  4421.0       1    52
2022-01-02     36779    3969  2289.0       0    52
2022-01-03  13943875  373890     NaN       1     1
2022-01-04   8088593  142054  2157.0       0     1
2022-01-05   2395374  190684     NaN       0     1
...              ...     ...     ...     ...   ...
2023-12-27  33846609  415067  7360.0       1    52
2023-12-28   3659566  208601  2262.0       1    52
2023-12-29   1164008   14309   193.0       0    52
2023-12-30   3977696   60935     NaN       0    52
2023-12-31   3719764   60963  1507.0       0    52

[730 rows x 5 columns]

In [10]:
# 주 단위로 resample후 합계 구하기
df2.resample('W').sum()

               Sales       PV       UV  Events  week
Date
2022-01-02  22748304   401318   6710.0       1   104
2022-01-09  33373822  1148464  15189.0       2     7
2022-01-16  20754519   283773   9344.0       0    14
2022-01-23  21880751   538633   9841.0       1    21
2022-01-30  28878452   560814   7808.0       1    28
...              ...      ...      ...     ...   ...
2023-12-03  47120909   884734  12086.0       2   336
2023-12-10  46398053   975024  21872.0       3   343
2023-12-17  20763518   291261  17221.0       0   350
2023-12-24  34528035   901451  11732.0       2   357
2023-12-31  51435189   813019  12168.0       2   364

[105 rows x 5 columns]

In [11]:
# 'Sales'의 최댓값
df2.resample('W').sum()['Sales'].max()

99165648

In [12]:
# 'Sales'의 최솟값
df2.resample('W').sum()['Sales'].min()

7526598

In [13]:
# 최댓값과 최솟값의 차
abs(df2.resample('W').sum()['Sales'].max() - df2.resample('W').sum()['Sales'].min())

91639050

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'], index_col=0)

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [16]:
print(df.shape)
df.head(3)

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1

In [17]:
df.tail(3)

              Sales     PV      UV  Events
Date
2023-12-29  1164008  14309   193.0       0
2023-12-30  3977696  60935     NaN       0
2023-12-31  3719764  60963  1507.0       0

### 단위 
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [18]:
df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [19]:
ma = df_w['Sales'].max()
ma

99165648

In [20]:
mi = df_w['Sales'].min()
mi

7526598

In [21]:
print(ma - mi)

91639050