## f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오 
### - 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
### - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### - 최종 결과값은 절대값으로 출력

- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df=pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [2]:
# 'f1' 컬럼 기준 내림차순 정렬
df.sort_values('f1',ascending=False,inplace=True)
df

      id    age city     f1  f2   f3    f4         f5
56  id57    3.0   대구  111.0   0  NaN  ISFJ  29.269869
7   id08   38.0   서울  101.0   1  NaN  INFJ  83.685380
57  id58    0.0   대구  100.0   2  NaN  ESTP  33.308999
73  id74   45.0   경기   98.0   0  NaN  ESTP  52.667078
71  id72    8.0   경기   97.0   0  NaN  ESTJ  97.381034
..   ...    ...  ...    ...  ..  ...   ...        ...
85  id86    2.0   경기    NaN   0  NaN  ESTP  29.269869
86  id87   19.0   경기    NaN   1  NaN  ISFP  97.381034
89  id90   54.0   경기    NaN   0  NaN  ENTP  29.269869
93  id94   84.0   경기    NaN   1  NaN  ESTJ  90.496999
96  id97  100.0   경기    NaN   0  NaN  INFP  67.886373

[100 rows x 8 columns]

In [3]:
# 10번째 위치한 행의 데이터 확인
df.iloc[9]

id           id45
age          97.0
city           대구
f1           88.0
f2              0
f3            NaN
f4           ENFJ
f5      13.049921
Name: 44, dtype: object

In [4]:
# 'f1'의 결측치 개수
df['f1'].isnull().sum()

31

In [5]:
# 'f1'의 결측치를 10번째 데이터의 'f1' 값으로 대체
df['f1']=df['f1'].fillna(df.iloc[9]['f1'])
df['f1'].isnull().sum()

0

In [6]:
# 결측치를 채운 후 'f1' 컬럼의 중앙값
m1=df['f1'].median()
m1

77.5

In [7]:
# 'age' 컬럼 기준 중복되는 값이 존재하면 첫번째 나오는 값만 남기고 삭제하여 df2로 저장
df2=df[df.duplicated(['age'],keep='first')]
df2

       id    age city    f1  f2   f3    f4         f5
68   id69   75.0   경기  85.0   0  NaN  ESTJ  69.730313
51   id52   97.0   대구  82.0   1  NaN  ISFJ  90.496999
91   id92   97.0   경기  78.0   1  NaN  INFP  97.381034
30   id31   86.0   부산  77.0   0  NaN  ESFJ  73.586397
35   id36   68.0   부산  77.0   1  NaN  INTP  13.049921
88   id89   34.0   경기  66.0   1  NaN  ENTJ  33.308999
54   id55   75.0   대구  63.0   2  NaN  ENTP  13.049921
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999
80   id81   86.0   경기  50.0   1  NaN  ISFJ  37.113739
38   id39   56.0   부산  50.0   0  NaN  INFJ  33.308999
67   id68   35.0   경기  45.0   2  NaN  ISFP  67.886373
83   id84   66.0   경기  44.0   0  NaN  INTP  83.685380
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
27   id28   38.0   부산  34.0   1  NaN  ENTP  80.138280
76   id77   77.0   경기  31.0   0  NaN  INFP  98.429899
3    id04   75.0   서울  88.0   2  NaN  INFP  52.667078
24   id25   34.0   부산  88.0   0  NaN  ESTP  60.339826
33   id34   65.0   부산  88.0   1  NaN  INFP  48.431184
37   id38   87.0   부산  88.0   1  NaN  ESTP  83.685380
53   id54   53.0   대구  88.0   1  NaN  ENFJ  69.730313
59   id60   56.0   경기  88.0   0  NaN  ESFP  52.667078
61   id62   52.0   경기  88.0   0  NaN  INTP  60.339826
65   id66   87.0   경기  88.0   1  NaN  ISFP  17.252986
72   id73   90.0   경기  88.0   1  NaN  ISFJ  73.586397
78   id79   30.0   경기  88.0   0  NaN  INTJ  80.138280
85   id86    2.0   경기  88.0   0  NaN  ESTP  29.269869
96   id97  100.0   경기  88.0   0  NaN  INFP  67.886373

In [8]:
# df2의 'f1' 컬럼 중앙값
m2=df2['f1'].median()
m2

78.0

In [9]:
# m1과 m2의 차
abs(m1-m2)

0.5

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.tail()

       id    age city    f1  f2   f3    f4         f5
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

In [12]:
# f1데이터에서 10번째 큰 값으로 결측치를 채움
top10 = df['f1'].sort_values(ascending=False).iloc[9]
print(top10)
df['f1'] = df['f1'].fillna(top10)

88.0

In [13]:
# 중복 제거 전 중앙 값
result1 = df['f1'].median()
result1

77.5

In [14]:
# 중복 제거
print(df.shape)
df = df.drop_duplicates(subset=['age'])
print(df.shape)

(100, 8)
(71, 8)

In [15]:
# 중복 제거 후 중앙 값
result2 = df['f1'].median()
result2

77.0

In [16]:
# 차이 (절대값)
print(abs(result1 - result2))

0.5